body {
    color: white;
    font-size: 48px;
    text-align: center;
}

[class^="box"] {
    background-color: black;
    height: 24.5%;
    margin: 0px;
}

.flex-container {
    align-items: stretch;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
}

.box1 {
    margin: auto;
    width: 100%;
}

.box2,
.box3 {
    width: 49.8%;
}

.box4,
.box5,
.box6,
.box7 {
    width: 24.75%;
}

.box8,
.box9,
.box10 {
    width: 33.1%;
}

@media screen and (max-width:480px) {
    [class^="box"] {
        width: 100%;
    }
}

@media screen and (max-width:1023px) {
    
}